In [6]:
!pip install getpass4
!pip install mysql-connector-python

Requirement already satisfied: getpass4 in c:\users\dara\anaconda3\lib\site-packages (0.0.14.1)
Requirement already satisfied: caugetch in c:\users\dara\anaconda3\lib\site-packages (from getpass4) (0.0.1)
Requirement already satisfied: clipboard in c:\users\dara\anaconda3\lib\site-packages (from getpass4) (0.0.4)
Requirement already satisfied: colorama in c:\users\dara\anaconda3\lib\site-packages (from getpass4) (0.4.6)
Requirement already satisfied: pyperclip in c:\users\dara\anaconda3\lib\site-packages (from getpass4) (1.9.0)
Requirement already satisfied: mysql-connector-python in c:\users\dara\anaconda3\lib\site-packages (9.3.0)

In [10]:
import mysql.connector
import getpass

'''
database information:
- database name registeration include one table name 'users'.
- table include columns id, name, email, password.
- id with number generative, no need to fill id for each users.
- name, email, password with varchar 255.
'''

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root", # Replace with your sql username
    password="dara168", # Replace your sql password
    database="my_chat_app", # Replace your database name 
    port=3306,         
        
)

def create_account():
    cursor = conn.cursor()
    sql = "INSERT INTO users (name, email, password) VALUES (%s, %s, %s)"
    
    while True:
        name = input("Enter a username : ").strip()
    
        # Check if the name already exists
        cursor.execute("SELECT COUNT(*) FROM users WHERE name = %s", (name,))
        (count,) = cursor.fetchone()
        if count == 0:
            email = input(f"Enter email for {name}: ").strip()
            
            while True:
                password = getpass.getpass("Enter your password: ").strip()
                confirm_password = getpass.getpass("Confirm your password: ").strip()
                if password == confirm_password:
                    break
                else:
                    print("Passwords do not match. Please try again.")
    
            cursor.execute("INSERT INTO users (name, email, password) VALUES (%s, %s, %s)", (name, email, password))
            conn.commit()
            print(f"Inserted: {name}")
            break
        else:
            print(f"Skipped: username '{name}' already exists.")
            

    cursor.close()


create_account()

ProgrammingError: 1054 (42S22): Unknown column 'name' in 'where clause'

In [ ]:
def login():
    
    cursor = conn.cursor()
    
    username = input("Enter your username: ").strip()
    password = getpass.getpass("Enter your password: ").strip()

    cursor.execute("SELECT * FROM users WHERE name = %s AND password = %s", (username, password))
    result = cursor.fetchone()

    if result:
        print(f"Login successful. Welcome back, {username}!")
    else:
        print("Login failed. Invalid username or password.")

    cursor.close()

In [ ]:
login()

Enter your username:  hello
Enter your password:  ········

Login successful. Welcome back, hello!

InternalError: Unread result found